
.compic {
    display: block;
    max-width:150px;
    max-height:95px;
    width: auto;
    height: auto;
    background: #fefefe;
    margin: auto;



}



.compic-wrapper {
    width: 85%;
    margin: auto;
    background-color: rgba(255,255,255,0.1);

}

.compic-container {
    width: 20%;
    height: 200px;
    float: left;
    margin: 0px 25px 25px 0px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;

}

.compic-title {
    font-family: 'Lato', Tahoma, Arial, sans-serif;
    text-transform: uppercase;
    color: #fefefe;
    text-align: center;

}

td {
    color: #4E65B8!important;
}