/* line 1, sass/header.scss */


body {
    margin-top: 100px;
}
#main-nav {
    text-transform: uppercase;
    height: 50px;
    background: #2E4154;
    border-bottom: 4px solid #2E4154;

}

.app-btn {
    width: 20%;
    max-width: 300px;
    height: 50px;
}

#main-nav-list {
    background-color: #1a2133;
    width: 60%;
    float: left;
}
.container-fluid {
    width: 100%;
}

/* line 8, sass/header.scss */


/* line 17, sass/header.scss */
#main-nav li {
    /*flex: 1 1 auto;*/
    /*display: flex;*/
    /*align-items: center;*/
    width: 200px;
    height: 100%;
}

/* line 25, sass/header.scss */
.nav a {
    height: 50px;
    font-size: 1.3rem;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* line 33, sass/header.scss */
#main-nav a div {
    text-align: center;
    width: 100%;

}

.search-box {
    margin-right: 10px;

}

.search-input {
    max-width: 165px!important;
    float: left;
}