.main-nav {
  font-family: 'Lato';
  text-transform: uppercase;
  height: 50px;
  margin-bottom: 20px;


  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    list-style: none;
    li {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
    }
  }


  a {
    height: 100%;
    font-size: 1.3rem;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    div {
      text-align: center;
      width: 100%;
    }
  }
}

