$bg-base: #34495e;
$bg-dark: #2c3e50;

$turq-base: #1abc9c;
$turq-dark: #16a085;

$green-base: #2ecc71;
$green-dark: #27ae60;

$blue-base: #3498db;
$blue-dark: #2980b9;

$purple-base: #9b59b6;
$purple-dark: #8e44ad;

$gold-base: #f1c40f;
$gold-dark: #f39c12;

$orange-base: #e67e22;
$orange-dark: #d35400;

$red-base: #d35400;
$red-dark: #c0392b;

$white-base: #ecf0f1;
$white-dark: #bdc3c7;

$grey-base: #95a5a6;
$grey-dark: #7f8c8d;


