<ng-include src="'views/header.html'"></ng-include>
<main>
    <section class="compic-wrapper">
        <article class="compic-container" dir-paginate="compic in viewData| filter:query | itemsPerPage: pageSize" current-page="currentPage" id="{{$index}}">
            <img ng-src="{{compic.folder}}" class="compic" />
            <p class="compic-title">{{compic.name}}</p>

            <div class="btn center-block">

                <a href="#/options/compic/{{viewData.indexOf(compic)}}" class="btn btn-sm btn-danger">Edit</a>
            </div>
        </article >
    </section>
</main>
<dir-pagination-controls template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
