<ng-include src="'views/header.html'"></ng-include>
<main>
    <section class="compic-wrapper">
        <article class="compic-container" data-ng-repeat="compic in viewData | filter:query" id="{{$index}}">
            <img ng-src="{{compic.folder}}" class="compic" />
            <p class="compic-title">{{compic.name}}</p>

            <div class="btn center-block">

                <a href="#/compic-options/{{$index}}" class="btn btn-sm btn-danger">Edit</a>
            </div>
        </article >
    </section>
</main>
