<header>
    <nav role="navigation" class="main-nav" id="main-nav">
        <ul id="main-nav-list">
            <li class="btn-blue">
                <a href="#" >
                    <div>Home</div>
                </a>
            </li>
            <li class="btn-green">
                <a href="#">
                    <div>Categories</div>
                </a>
            </li>
            <li class="btn-purple">
                <a href="#">
                    <div>Keyword Search</div>
                </a>
            </li>
            <li class="btn-red">
                <a href="#">
                    <div>Exit</div>
                </a>
            </li>

        </ul>

    </nav>

</header>