<header>
    <nav role="navigation" class="navbar navbar-fixed-top" id="main-nav">
        <div class="container-fluid">
            <ul id="main-nav-list" class="nav navbar-nav">
                <li>
                    <a id="a-home" href="#" class="btn-blue">
                        <div>Home</div>
                    </a>
                </li>
                <li >
                    <a class="btn-green" id="a-categories" href="categories/">
                        <div>Categories</div>
                    </a>
                </li>
                <li >
                    <a class="btn-gold" id="a-compic" href="compic/">
                        <div>Compics</div>
                    </a>
                </li>
                <li >
                    <a class="btn-red" ng-click="quit();" id="a-exit" href="#">
                        <div>Exit</div>
                    </a>
                </li>

            </ul>
        </div>


    </nav>

</header>