<ng-include src="'views/header.html'"></ng-include>
<main>

        <section class="video-container">
            <article class="video" dir-paginate="video in viewData | filter:query | itemsPerPage: pageSize track by $index" current-page="currentPage" id="{{viewData.indexOf(video)}}">
                <img ng-src="{{video.thumb}}" class="video-thumb" />
                <table class="tbl-video-meta">
                    <tr>
                        <td class="title-label">Word:</td>
                        <td class="video-title">{{video.name}}</td>
                    </tr>
                    <tr class="tbl-tr-categories">
                        <td class="title-label">Categories:</td>
                        <td class="video-title"><span>{{flat(video.categories)}}</span></td>
                    </tr>
                    <tr  class="tbl-tr-tags">
                        <td class="title-label">Tags:</td>
                        <td class="video-title"><span ng-repeat="vtag in video.tags">{{vtag.text}}</span></td>
                    </tr>
                </table>
                <!--<p class="video-title">{{video.name}}</p>-->
                    <div class="btn-group-wrap">
                        <div class="center btn-play">
                            <a href="#/player/{{viewData.indexOf(video)}}" class="btn btn-green"><span
                                    class="glyphicon glyphicon-play"></span></a>

                        </div>
                    </div>

            </article >
        </section>
</main>

<dir-pagination-controls template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
