$default-border-radius: 10px;
$default-border-width: 4px;
$default-border-type: solid;

$default-container-width: 960px;
$full: 100%;

//Functions
@function divide-size($count, $container-size) {
    @return $container-size / $count;
}

